@font-face {
  font-family: 'Open-Sans-light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Light.woff2') format('woff2');
}

ul {
	-webkit-padding-start: 0px;
}
.tabscontent
{
	padding-left: 95px;
	height: 670px;
}
.header 
{
  font-family: 'Open-Sans-light';
	font-weight : bold;
	font-size: 15pt;
	color: #666666;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 5px;
}
.alldone {
	text-align: left;
}
.infotext {
	text-align: left;
}