* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dbdc;
    color: #8185a2;
    font-family: Arial;
    font-size: 16px;
    user-select: none;
}

select {
    background-color: #161723;
    color: #ffffff;
}

select option {
    margin: 40px;
    background-color: #161723;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.44);
    border: solid 1px rgba(151, 151, 151, 0.2);
}

select option:hover {
    background: #cd6b24;
}

.center-wrapper {
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, 0%);
}

.main-container {
    width: 1000px;
    height: 700px;
    background-color: #1b2139;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}

.left-panel {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #1c1e2a;
    box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.2);
}

.top-left {
    width: 100%;
    height: 180px;
    padding-top: 40px;
    text-align: center
}

.left-menu {
    width: 100%;
    height: 100%;
    background-color: #1c1e2a;
    box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.2);
}

.left-menu ul {
    list-style: none;
    padding-top: 30px;
    font-size: 16px;
}

.left-menu ul input[type=radio] {
    display: none;
}

.left-menu ul li {
    padding: 20px 0px;
    padding-left: 34px;
    cursor: pointer;
}

#tab-cleaner:checked~label[for=tab-cleaner] li,
#tab-extensions:checked~label[for=tab-extensions] li,
#tab-apps:checked~label[for=tab-apps] li,
#tab-history:checked~label[for=tab-history] li,
#tab-bookmarks:checked~label[for=tab-bookmarks] li {
    color: #ffffff;
}

.right-panel section {
    display: none;
}

.left-menu ul li i {
    margin-right: 16px;
}

.right-panel {
    height: 100%;
    overflow: hidden;
    background-color: #171826;
    /*background: linear-gradient(#242a44, #8185a2);*/
}

.logo-circle {
    position: relative;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    background-color: #6f708e;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}

.logo-circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-title {
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 14px;
}

.footer {
    margin-top: 8px;
    font-size: 13px;
    color: #1b2139;
    /*text-shadow: 2px 2px 8px rgba(0,0,0,.2);*/
    float: right;
    padding-right: 4px;
}

.footer-separator {
    color: #8185a2;
    margin: 0px 8px;
}

.section-title {
    padding: 18px 0px 0px 18px;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.section-title i {
    margin-right: 12px;
}

.section-content {
    display: block;
    background-color: rgba(46, 49, 62, 0.6);
    margin: 28px auto;
    width: 740px;
    height: 595px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .16);
    overflow: hidden;
}

input[name=search] {
    background-color: transparent;
    width: 140px;
    height: 28px;
    border: 1px solid #4d5576;
    border-radius: 50px;
    color: #ffffff;
    padding: 4px 8px 4px 20px;
    outline: none;
}

input[name=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: url('../images/cancel.png');
    background-repeat: no-repeat;
    background-position-x: 3px;
    cursor: pointer;
}

::placeholder {
    color: #8185a2;
}

.section-content-header {
    height: 50px;
    line-height: 48px;
    text-align: right;
    padding: 0px 20px;
}

.toggle-switch {
    font-family: FontAwesome;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.toggle-switch input {
    display: none;
}

.toggle-switch input+.slider:before {
    content: "";
    display: inline-block;
    background: url('../images/greybutton.png') no-repeat;
    width: 30px;
    height: 20px;
    position: relative;
    top: 4px;
}

#label-autoclean-history {
    position: absolute;
    right: 40px;
    top: 37px;
}

#label-autoclean-downloads {
    position: absolute;
    right: 40px;
    top: 79px;
}

#label-autoclean-cache {
    position: absolute;
    right: 40px;
    top: 121px;
}

#label-autoclean-cookies {
    position: absolute;
    right: 40px;
    top: 162px;
}

.switch-autoclean input+.slider:before {
    background: url('../images/autoclean-off.png') no-repeat !important;
    width: 74px !important;
}

.toggle-switch input:checked+.slider:before {
    content: "";
    background: url('../images/greenbutton.png') no-repeat;
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    top: 4px;
}

.switch-autoclean input:checked+.slider:before {
    background: url('../images/autoclean-on.png') no-repeat !important;
    width: 74px !important;
}

.cleaner-switch {
    font-size: 16px;
    /*cursor: pointer;*/
    vertical-align: middle;
}

.cleaner-switch input {
    display: none;
}

.cleaner-switch input+.slider:before {
    font-family: FontAwesome;
    color: #ffffff;
    content: "\f096";
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    top: 2px;
}

.clean-from {
    margin-left: 40px;
    display: inline-block;
}

.autoclean-from {
    margin-top: 40px;
    margin-left: 40px;
    display: inline-block;
}

.clean-button {
    width: 217px;
    height: 35px;
    border-radius: 100px;
    background-color: #21da03;
    border: solid 1px rgba(151, 151, 151, 0.2);
    text-align: center;
    vertical-align: middle;
    margin-left: 40px;
    display: inline-block;
    color: #ffffff;
}

.paint-brush {
    height: 18px;
    width: 16px;
    content: url('../images/brush-clicked.png');
    background-repeat: no-repeat;
    background-position-x: 3px;
    cursor: pointer;
}

.Clean-Now {
    width: 103px;
    height: 24px;
    font-weight: Bold;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.7px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.cleaner-switch input:checked+.slider:before {
    font-family: FontAwesome;
    content: "\f046";
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    top: 2px;
}

ul.action-listing {
    list-style: none;
    margin: 30px;
    font-size: 14px;
}

.action-listing li div {
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    padding: 0 10px;
}

.action-listing li div:hover {
    background-color: #313852;
}

.action-listing li div img {
    vertical-align: middle;
}

.disabled-icon {
    filter: grayscale(100%);
    opacity: 0.5;
    width: 16px;
    height: 16px;
}

.enabled-icon {
    filter: grayscale(0%);
    width: 16px;
    height: 16px;
}

a {
    text-decoration: none;
}

span.ext-title {
    color: #ffffff;
    margin-left: 8px;
    vertical-align: middle;
}

.clear-title {
    xopacity: 0.75;
    color: #ffffff;
    margin-left: 4px;
    vertical-align: middle;
}

span.disabled-title {
    color: #8185a2;
}

.action-button {
    float: right;
}

.delete-control:before {
    font-family: FontAwesome;
    font-size: 20px;
    color: #ffffff;
    content: "\f014";
    margin-left: 4px;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 6px;
}

.x-control:before {
    font-family: FontAwesome;
    font-size: 14px;
    color: #ffffff;
    content: "\f00d";
    margin-left: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.ext-global-action {
    float: left;
    padding-left: 20px;
    color: #ffffff;
    font-size: 14px;
}

.scroll-listing {
    position: relative;
    margin-top: 10px;
    height: 520px;
    overflow: hidden;
    /*overflow-y: auto;*/
}


/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner>.scroll-element,
.scrollbar-inner>.scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner>.scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner>.scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner>.scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner>.scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner>.scroll-element .scroll-element_outer,
.scrollbar-inner>.scroll-element .scroll-element_track,
.scrollbar-inner>.scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner>.scroll-element .scroll-element_track,
.scrollbar-inner>.scroll-element .scroll-bar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #e0e0e0;
}

.scrollbar-inner>.scroll-element .scroll-bar {
    background-color: #c2c2c2;
}

.scrollbar-inner>.scroll-element:hover .scroll-bar {
    background-color: #919191;
}

.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar {
    background-color: #919191;
}


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}

.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

.ps.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail {
    background-color: #F5F5F5;
}

.ps.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    background-color: #4d5576;
}

.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail {
    background-color: #F5F5F5;
}

.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    background-color: #4d5576;
}

.ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail {
    background-color: #F5F5F5;
}

.ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    background-color: #4d5576;
}

.ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail {
    background-color: #F5F5F5;
}

.ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    background-color: #4d5576;
}

.ps:hover>.ps__scrollbar-x-rail:hover {
    background-color: #F5F5F5;
}

.ps:hover>.ps__scrollbar-x-rail:hover>.ps__scrollbar-x {
    background-color: #4d5576;
}

.ps:hover>.ps__scrollbar-y-rail:hover {
    background-color: #F5F5F5;
}

.ps:hover>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y {
    background-color: #4d5576;
}

.chevron-switch {
    font-family: FontAwesome;
    cursor: pointer;
    color: #ffffff;
    vertical-align: middle;
}

.chevron-switch input {
    display: none;
}

.chevron:before {
    display: inline-block;
    width: 16px;
    height: 35px;
}

.chevron-switch input+.chevron:before {
    content: "\f054";
}

.chevron-switch input:checked+.chevron:before {
    content: "\f078";
}

.chevron-text {
    font-family: Roboto;
    font-size: 16px;
    color: #ffffff;
    margin-left: 2px;
}

.section-content-header label {
    cursor: pointer;
}

.red-control {
    color: #eb3e76;
}

.yellow-control {
    color: #ffe24e;
}

.blue-control {
    color: #6894fd;
}

.green-control {
    color: #53db75;
}

.white-control {
    color: #ffffff;
}

.line {
    width: 932px;
    height: 1px;
    opacity: 0.2;
    background-color: #b2b2b2;
}

.disabled-control,
.section-content-header label.disabled-control {
    pointer-events: none;
    color: #8185a2;
    cursor: default !important;
}

.footer-label {
    cursor: pointer;
}

.pendingWindow {
    border-radius: 25px;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    height: 130px;
    border: solid 1px #8185a2;
    padding-top: 20px;
    top: 100px;
    left: 200px;
    background: #cecece;
    display: none;
}

.clean-panel-ok-button {
    margin-top: 20px;
    width: 80px;
    height: 30px;
    color: white;
    background-color: #5A97FF;
    border: solid 1px #274880;
}